body {
  max-width: 2000px;
  margin: 0;
  background-color: #F5F0EE;
  font-family: 'Mada', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sidebar {
  position: fixed;
  height: 100%;
  width: 200px;
  top: 0;
  left: 0;
  z-index: 1;

  overflow-x: hidden;

  padding-top: 36px;
  padding-left: 18px;
  padding-right: 18px;

  text-align: center;
  font-style: normal;
  font-weight: normal;
  background-color: #393B5B;
  color: #FFFFFF;
}

.profile {
  margin-bottom: 48px;
}

.profile .pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.profile .name {
  margin-top: 18px;
  font-weight: 900;
  font-size: 28px;
}

.profile .bio {
  font-size: 18px;
}

.links {
  list-style-type: none;
  margin: 0;
  padding: 0;

  font-size: 20px;
}

.links li {
  margin-bottom: 18px;
}

.links a {
  color: #FFFFFF;
  text-decoration: none;
}

.links .current {
  text-decoration: underline;
  font-weight: bold;
}

.main a {
  font-weight: bold;
  color: #000000;
}

.block-link {
  font-weight: normal !important;
  text-decoration: none; !important;
}

.main {
  padding-left: 256px;
  padding-top: 36px;
  padding-right: 18px;

  color: #000000;
}

.main p {
  margin: 0;
}

.main h4, .main h3, .main h2, .main h1 {
  margin: 0;
  margin-bottom: 18px;
}

.main img {
  max-width: 100%;
}

.main .main-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 47px;
  margin-bottom: 18px;
}

.main .content {

}

.row {
  margin: 0;
  margin-left: -18px;
  margin-right: -18px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column  {
  float: left;
  width: calc(33% - 36px);
  padding: 18px;
}

.card {
  background: #FFFFFF;
}

.card .thumbnail {
  width: 100%;
  height: 200px;
  background-repeat:no-repeat;
  background-size:cover;
}

.card .container {
  padding: 18px;
}

.card .container-big {
  padding: 36px;
}

.card .container .title {
  font-size: 20px;
}

.card .container .description {
  margin-bottom: 36px;
  font-size: 18px;
}

.card .container .description-fixed-height {
  height: 90px;
}

.card .container .description p {
  margin-bottom: 18px;
}

.card .container .details {
  font-size: 16px;
}

.card .container .category {
  float: right;
  text-align: right;

  font-size: 16px;
  font-weight: bold;
}

.portfolio {
  text-align: center;
}

.portfolio .p-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.portfolio .p-column {
  flex: 30%;
  max-width: 30%;
  padding: 0 4px;
}

.portfolio .p-column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.post-title {
  margin-bottom: 0 !important;
}

.post-data {
  margin-bottom: 36px !important;
}

.post-thumbnail {
  margin-top: 18px;
  margin-bottom: 18px;

  max-width: 100%;
}

.post-content {
  font-size: 18px;
}

.limited-width {
  max-width: 650px;
}

.post-content p {
  margin-bottom: 18px;
}

.post-content code {
  display: inline-block;
  font-size: 12px;
  overflow-x: auto;
  overflow-y: auto;
  max-width: 100%;
}

@media screen and (max-width: 1200px) {
  .portfolio .p-column {
    flex: calc(50% - 36px);
    max-width: calc(50% - 36px);
  }

  .column  {
    width: calc(50% - 36px);
  }
}

@media screen and (max-width: 900px) {
  .portfolio .p-column {
    flex: calc(100% - 36px);
    max-width: calc(100% - 36px);
  }

  .column  {
    width: calc(100% - 36px);
  }
}

@media screen and (max-width: 650px) {
  .sidebar {
    position: relative;
    height: auto;
    width: auto;
    padding: 18px;
    padding-top: 0px;

    text-align: left;
    font-style: normal;
    font-weight: normal;
    background-color: #393B5B;
    color: #FFFFFF;
  }

  .sidebar .profile {
    margin-bottom: 9px;
  }

  .sidebar .profile .name {
    margin-bottom: 0px;
  }

  .sidebar .profile .pic {
    float: left;
    width: 70px;
    height: 70px;
    margin-right: 18px;
  }

  .sidebar .profile .bio {
    display: none;
  }

  .sidebar .links li {
    float: left;
    padding-right: 18px;
    margin-bottom: 0px;
  }

  .main {
    padding: 0;
  }

  .card .container-big {
    padding: 36px;
  }

  .main .main-title {
    display: none;
  }

  .row {
    margin: 0;
  }
}
